body 
{
background-color: cornflowerblue;
text-align:center;
font-family:'Comic Sans MS';

}
h1 {
    font-size: 120px;
}

h2 {
    font-size: 40px;
}
h3 
{
    font-size: 30px;
}
ul
{
    position:center;
    list-style-type:none;
    list-style-position:inside;
}
li 
{
    font-size:larger;
    position:center
}
iframe
{
    position: center;
    width:auto;
}
